
.wrapper {
    height: 250px;
    width: 300px;
    position: relative;
    top: 57vh;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#response_div {
    height: 60px;
    margin-bottom: 30px !important;
    background-color: rgba(117, 234, 234, .5);
    border-radius: 20px;
}
.instructions {
    margin-top: 10px !important;
    text-align: center;
    color: white;
}
.backgroundImg {
    height: 100vh;
    width: 100%;
    background-image: url(images/zion_bend.jpg);
    background-position: 53% 4%;
    opacity: 0;
    z-index: -1;
    position: absolute;
}
h2 {
    color: white;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);

}
.container1 {
    height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: 1;
}

body {
    background: url('http://www.planwallpaper.com/static/images/518079-background-hd.jpg');
    background-position: center;
    overflow: hidden;
}
.circleDiv {
    padding-top: 0%;
    width: 0%;
    height: auto;
    border-radius: 100%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .8s;
    background-image: url('images/zion_bend.jpg');
    /*background-image: url('images/yosemite_background.jpg');*/
    /*background-image: url('https://i.pinimg.com/originals/1e/3a/e5/1e3ae5d5de9c8e38b5409fa22357f938.jpg');*/
    /*!*background-image: url('images/j_tree_landscape.jpg');*! probably not on this one unless I postition each image individially*/
    /*background-image: url('images/landscape_from_j_tree.jpg'); also probably not this one, same reason*/
    /*background-image: url('images/orange_lake.jpg');*/
    /*background-image: url('images/glacier_mtn_park.jpg');*/
    background-position: 53% 4%;

    /*background-position: 70% 4%;*/
    /*background-position: 53% 0%;*/
    /*background-position: center;*/
}
.replay {
    margin: 10px auto;
}